@import "variables.css";
@import "components/search.css";
@import "components/clock.css";
@import "components/greeting.css";
@import "components/photo.css";
@import "components/mv.css";
@import "components/todo.css";
@import "components/weather.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&family=Noto+Sans+KR:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Comfortaa", "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: -0.25pt;
  -webkit-padding-before: 3px;
  padding-block-start: 3px;
  color: aliceblue;
  border-radius: 8px;
  padding-left: 10px;
  outline: none;
  box-shadow: var(--box-shadow);
}

input::placeholder {
  color: aliceblue;
}
header {
  margin: 10px 0;
}
section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > div {
  margin-right: 2vw;
  width: 25vw;
}

section > div:last-child {
  margin-right: 0;
}

.sub-tit {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.right-top {
  position: relative;
  margin: 0 0 20px 0;
}

.right-bottom {
  position: relative;
}

.hidden {
  display: none;
}
.opening {
  width: 100vw;
  height: 100vh;
  background: var(--bg-gradient);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.4s 0.8s ease-in-out forwards;
}

.opening img {
  width: 100px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 1080px) {
  section {
    flex-direction: column;
  }
  section > div {
    margin-right: 0;
    width: 90vw;
    margin-bottom: 20px;
  }
  .right {
    order: -1;
  }

  /* .mobile {
    display: flex;
  } */
}
