.clock {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
}
.clock > * {
  display: inline-block;
}
#clock {
  font-size: 50px;
  margin: 0;
  display: flex;
  align-items: center;
}
#clock span:first-child {
  font-size: 24px;
  margin-right: 10px;
}
#clock span:last-child {
  font-size: 24px;
  margin-left: 10px;
}
