.mv {
  position: relative;
  margin-bottom: 20px;
}

.mute-box {
  width: 100%;
  height: 280px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border: 20px solid;
  border-radius: 8px;
  border-bottom: 43px solid;
  border-top: 43px solid;
  box-sizing: border-box;
}
iframe {
  border-radius: 8px;
}
.mv button {
  border: 0;
  padding: 5px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mv button.url-button {
  left: 20px;
}
.mv button.random-button {
  right: 20px;
}
.mv span {
  font-size: 14px;
}

#songs {
  position: absolute;
  top: 10px;
  color: aliceblue;
  left: 20px;
  font-weight: 600;
}
