.photo {
  width: 100%;
  height: 300px;
  opacity: 0.9;
  border-radius: 8px;
  position: relative;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.photo button {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
