.search {
  height: auto;
  margin: 0 0 20px 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search button {
  position: absolute;
  right: 1vw;
  top: 1vw;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}
